@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000;
}

body input:required:valid,
body textarea:required:valid {
  color: #000;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Metrophobic", sans-serif;
  overflow-x: hidden;
  opacity: 1;
}

#top_banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

img {
  max-width: 100%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn_simple {
  border: 1px solid #722ED1;
  color: #722ED1;
  padding: 12px 24px;
  font-size: 14px;
  border-radius: 23px;
  text-decoration: none;
  -webkit-transition: background 0.4s ease;
  transition: background 0.4s ease;
}
.btn_simple:hover {
  color: red;
  background-color: #722ED1;
  color: #F9F0FF;
}

#header {
  padding-top: 24px;
}
#header .inner-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#header .inner-header .logo {
  display: block;
  width: 48px;
  height: 48px;
}
#header .inner-header .logo > img {
  width: 100%;
}
#header .inner-header .right_slide_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#header .inner-header .right_slide_header .menu_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  position: relative;
}
#header .inner-header .right_slide_header .menu_top > .has_sub_menu {
  padding: 2px;
}
#header .inner-header .right_slide_header .menu_top > .has_sub_menu:hover > .sub-menu {
  display: block;
}
#header .inner-header .right_slide_header .menu_top > .has_sub_menu::after {
  display: block;
  content: "";
  width: 11px;
  height: 6px;
  position: absolute;
  bottom: 19px;
  left: 45px;
  background: url(../img/main_banner/path.svg);
}
#header .inner-header .right_slide_header .menu_top > li {
  display: inline-block;
  list-style: none;
}
#header .inner-header .right_slide_header .menu_top > li a {
  padding: 5px 40px 4px 0;
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
#header .inner-header .right_slide_header .menu_top > li a:hover {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  color: #722ED1;
}
#header .inner-header .right_slide_header .menu_top > li > .sub-menu {
  z-index: 10;
  position: absolute;
  padding: 0px 12px;
  background-color: white;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  display: none;
  max-width: 200px;
  -webkit-animation: opac 0.5s;
          animation: opac 0.5s;
}
#header .inner-header .right_slide_header .menu_top > li > .sub-menu li {
  list-style: none;
  padding: 2px 0;
}

@-webkit-keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.main_banner {
  padding: 200px 0 30px;
}
.main_banner .mb_info .notif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F7F1FF;
  padding: 8px 16px;
  max-width: 258px;
  border-radius: 20px;
  margin-bottom: 24px;
}
.main_banner .mb_info .notif p {
  padding-left: 12px;
  color: #722ED1;
}
.main_banner .mb_info .notif p > a {
  text-decoration: none;
  color: #722ED1;
  border-bottom: 1px solid #722ED1;
}
.main_banner .mb_info .notif p > a:hover {
  color: black;
  border-bottom: 1px solid black;
}
.main_banner .mb_info h1 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  color: #000;
}
.main_banner .mb_info .descr {
  font-size: 16px;
  font-weight: 500;
  color: black;
  margin: 24px 0;
}
.main_banner .mb_info .btns .btn {
  padding: 12px 24px;
  background: #722ED1;
  color: white;
  text-decoration: none;
  border-radius: 23px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
}
.main_banner .mb_info .btns .btn:hover {
  background: #fff;
  color: #000;
}
.main_banner .mb_info .btns .btn.btn_white {
  background: white;
  color: #722ED1;
  margin-left: 16px;
}
.main_banner .mb_info .btns .btn.btn_white:hover {
  background: #722ED1;
  color: white;
}