@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000;
}

body input:required:valid,
body textarea:required:valid {
  color: #000;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Metrophobic", sans-serif;
  overflow-x: hidden;
  opacity: 1;
}

#top_banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

img {
  max-width: 100%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn_simple {
  border: 1px solid #722ED1;
  color: #722ED1;
  padding: 12px 24px;
  font-size: 14px;
  border-radius: 23px;
  text-decoration: none;
  -webkit-transition: background 0.4s ease;
  transition: background 0.4s ease;
}
.btn_simple:hover {
  color: red;
  background-color: #722ED1;
  color: #F9F0FF;
}

#header {
  padding-top: 24px;
}
#header .inner-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#header .inner-header .logo {
  display: block;
  width: 48px;
  height: 48px;
}
#header .inner-header .logo > img {
  width: 100%;
}
#header .inner-header .right_slide_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#header .inner-header .right_slide_header .menu_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  position: relative;
}
#header .inner-header .right_slide_header .menu_top > .has_sub_menu {
  padding: 2px;
}
#header .inner-header .right_slide_header .menu_top > .has_sub_menu:hover > .sub-menu {
  display: block;
}
#header .inner-header .right_slide_header .menu_top > .has_sub_menu::after {
  display: block;
  content: "";
  width: 11px;
  height: 6px;
  position: absolute;
  bottom: 19px;
  left: 45px;
  background: url(../img/main_banner/path.svg);
}
#header .inner-header .right_slide_header .menu_top > li {
  display: inline-block;
  list-style: none;
}
#header .inner-header .right_slide_header .menu_top > li a {
  padding: 5px 40px 4px 0;
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
#header .inner-header .right_slide_header .menu_top > li a:hover {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  color: #722ED1;
}
#header .inner-header .right_slide_header .menu_top > li > .sub-menu {
  z-index: 10;
  position: absolute;
  padding: 0px 12px;
  background-color: white;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  display: none;
  max-width: 200px;
  -webkit-animation: opac 0.5s;
          animation: opac 0.5s;
}
#header .inner-header .right_slide_header .menu_top > li > .sub-menu li {
  list-style: none;
  padding: 2px 0;
}

.notif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F7F1FF;
  padding: 8px 16px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  border-radius: 20px;
  margin-bottom: 24px;
}
.notif p {
  padding-left: 12px;
  color: #722ED1;
}
.notif p > a {
  text-decoration: none;
  color: #722ED1;
  border-bottom: 1px solid #722ED1;
}
.notif p > a:hover {
  color: black;
  border-bottom: 1px solid black;
}

@-webkit-keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.main_banner {
  padding: 100px 0 200px;
}
.main_banner .mb_info h1 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  color: #000;
}
.main_banner .mb_info .descr {
  font-size: 16px;
  font-weight: 500;
  color: black;
  margin: 24px 0;
}
.main_banner .mb_info .btns .btn {
  padding: 12px 24px;
  background: #722ED1;
  color: white;
  text-decoration: none;
  border-radius: 23px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
}
.main_banner .mb_info .btns .btn:hover {
  background: #fff;
  color: #000;
}
.main_banner .mb_info .btns .btn.btn_white {
  background: white;
  color: #722ED1;
  margin-left: 16px;
}
.main_banner .mb_info .btns .btn.btn_white:hover {
  background: #722ED1;
  color: white;
}

#advantages {
  padding-top: 112px;
  padding-bottom: 120px;
}
#advantages .notif {
  margin: 0 auto 24px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
#advantages h2 {
  text-align: center;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 24px;
  color: #160637;
}
#advantages .text_content {
  max-width: 672px;
  color: #8989A2;
  text-align: center;
  margin: auto;
  margin-bottom: 24px;
}
#advantages .item_adv .heading {
  color: #160637;
  font-weight: 700;
  text-align: center;
  margin: 16px 0;
}
#advantages .item_adv img {
  display: block;
  margin: auto;
}
#advantages .item_adv .descr {
  text-align: start;
  max-width: 315px;
  line-height: 24px;
  font-size: 16px;
  color: #8989A2;
  margin: auto;
}

#inf_1 .notif > p {
  color: #722ED1;
}
#inf_1 h3 {
  font-size: 32px;
  margin: 24px 0;
  line-height: 40px;
}
#inf_1 p {
  font-size: 16px;
  line-height: 24px;
  color: #8989A2;
}

#info_2 {
  padding-top: 100px;
  padding-bottom: 22px;
}
#info_2 .notif > p {
  color: #722ED1;
}
#info_2 h3 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 24px;
}
#info_2 p {
  color: #8989A2;
  line-height: 24px;
  font-size: 16px;
}

#reviews {
  background-position: center;
  background-size: cover;
  background-image: url("../img/testimonial/background.svg");
}
#reviews #rev1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#reviews #rev1 .quotes {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  text-align: center;
  max-width: 964px;
  margin-bottom: 32px;
  padding-top: 240px;
  color: #160637;
}
#reviews #rev1 img {
  margin-bottom: 32px;
}
#reviews #rev1 > p {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
#reviews .nav_rev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 36px;
  padding-bottom: 187px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#reviews .nav_rev > div {
  cursor: pointer;
  width: 10%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#reviews .nav_rev > div:hover, #reviews .nav_rev > div.active {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.position::after {
  display: block;
  content: "";
  width: 964px;
  z-index: 10;
  height: 1px;
  background-color: #DEC9FA;
  margin-top: 32px;
}

.form {
  padding-top: 180px;
}
.form h3 {
  width: 431px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 35px;
}
.form p.trusted {
  font-size: 16px;
  color: #8989A2;
  line-height: 24px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  margin-bottom: 50px;
}
.form p.trusted::before {
  content: "";
  display: block;
  width: 150px;
  height: 1px;
  background: #D6D6D6;
  margin-right: 10px;
  margin-top: 12px;
}
.form p.trusted::after {
  content: "";
  display: block;
  width: 150px;
  height: 1px;
  background: #D6D6D6;
  margin-left: 10px;
  margin-top: 12px;
}
.form div img {
  margin: 35px 55px 35px 25px;
}

.auth {
  background-color: #fff;
  max-width: 428px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 18px 0px 24px rgb(249, 240, 255);
  box-shadow: 0px 18px 0px 24px rgb(249, 240, 255);
  padding: 20px;
  margin-bottom: 170px;
}
.auth h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: center;
  margin-top: 10px;
}
.auth .start_free_trial {
  padding: 12px 98px;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  background-color: #722ED1;
  text-align: center;
  color: white;
  border-radius: 8px;
  margin-bottom: 10px;
}
.auth form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.auth form input {
  margin: 8px 0;
  padding: 16px 20px;
  border: 1px solid silver;
  border-radius: 8px;
}
.auth form input::-webkit-input-placeholder {
  color: #8989A2;
  font-size: 16px;
  line-height: 16px;
}
.auth form input::-moz-placeholder {
  color: #8989A2;
  font-size: 16px;
  line-height: 16px;
}
.auth form input:-ms-input-placeholder {
  color: #8989A2;
  font-size: 16px;
  line-height: 16px;
}
.auth form input::-ms-input-placeholder {
  color: #8989A2;
  font-size: 16px;
  line-height: 16px;
}
.auth form input::placeholder {
  color: #8989A2;
  font-size: 16px;
  line-height: 16px;
}
.auth .or {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
  text-shadow: 1px 1px 1px #000;
  margin-top: 10px;
}
.auth div {
  margin: 0px auto;
  cursor: pointer;
}
.auth .line {
  width: 336px;
  height: 1px;
  background-color: #8989A2;
}
.auth .has_acc {
  text-align: center;
  color: #8989A2;
  margin-top: 16px;
}
.auth .has_acc a {
  text-decoration: none;
  color: #722ED1;
}

#footer {
  padding-bottom: 24px;
  padding-top: 58px;
  background-color: #FBFCFF;
}
#footer .lorem_text {
  margin-top: 14px;
}
#footer .logo {
  margin-bottom: 20px;
}
#footer h3 {
  font-size: 15px;
  margin-bottom: 20px;
}
#footer .social_media {
  margin-top: 24px;
}
#footer .social_media a:nth-child(1) {
  padding-left: 0;
}
#footer .social_media a {
  text-decoration: none;
  padding-left: 10px;
}
#footer .central_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#footer .central_block > div {
  margin: 0 25px;
}
#footer ul {
  list-style: none;
}
#footer ul li > a {
  text-decoration: none;
  color: #160637;
}
#footer .newsletter {
  position: relative;
}
#footer .newsletter .email_send {
  padding: 12px 6px 16px 16px;
  background-color: white;
  -webkit-box-shadow: 0 1px 2px rgba(89, 89, 89, 0.6);
          box-shadow: 0 1px 2px rgba(89, 89, 89, 0.6);
  border: none;
}
#footer .newsletter .send_telegram {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 8px;
  top: 56px;
  cursor: pointer;
}
#footer .author_rights {
  color: #160637;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}
#footer .author_rights img {
  margin-left: 5px;
}
#footer a:hover {
  color: #722ED1;
}

@media screen and (max-width: 530px) {
  .auth {
    margin: auto;
  }
  .form_block {
    margin: auto;
  }
}