@import "vars"
@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap')

*
	margin: 0
	padding: 0
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
	&:focus
		outline: none

*::-webkit-input-placeholder
	color: $light-white
	opacity: 1

*:-moz-placeholder
	color: $light-white
	opacity: 1

*::-moz-placeholder
	color: $light-white
	opacity: 1

*:-ms-input-placeholder
	color: $light-white
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: $black
body input:required:valid,
body textarea:required:valid
	color: $black

html,body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

#top_banner
	background-size: cover
	background-repeat: no-repeat
	background-position: center
img
	max-width: 100%

.img-responsive
	display: block
	max-width: 100%
	height: auto

.btn_simple
	border: 1px solid #722ED1
	color: #722ED1
	padding: 12px 24px
	font-size: 14px
	border-radius: 23px
	text-decoration: none
	transition: background .4s ease

	&:hover
		color: red
		background-color: $accent
		color: $light-accent

#header
	padding-top: 24px
	.inner-header
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
		.logo
			display: block
			width: 48px
			height: 48px
			>img
				width: 100%
		.right_slide_header
			display: flex
			.menu_top
				display: flex
				align-items: center
				list-style: none
				position: relative
				>.has_sub_menu
					padding: 2px
					&:hover > .sub-menu
						display: block
					&::after
						display: block
						content: ''
						width: 11px
						height: 6px
						position: absolute
						bottom: 19px
						left: 45px
						background: url(../img/main_banner/path.svg)

				>li
					display: inline-block
					list-style: none
					a
						padding: 5px 40px 4px 0
						display: block
						text-decoration: none
						font-size: 14px
						font-weight: 500
						color: $black
						transition: color .4s ease
						&:hover
							transition: .4s ease
							color: $accent
					>.sub-menu
						z-index: 10
						position: absolute
						padding: 0px 12px
						background-color: $white
						box-shadow: 0 3px 5px rgba(0, 0, 0, .6)
						display: none
						max-width: 200px
						animation: opac .5s
						li
							list-style: none
							padding: 2px 0

.notif
		display: flex
		background: #F7F1FF
		padding: 8px 16px
		max-width: max-content
		border-radius: 20px
		margin-bottom: 24px
		p
			padding-left: 12px
			color: $accent
			>a
				text-decoration: none
				color: $accent
				border-bottom: 1px solid $accent
				&:hover
					color: darken($black, .5)
					border-bottom: 1px solid darken($black, .5)

@keyframes opac
	from
		opacity: 0

	to
		opacity: 1

.main_banner
	padding: 100px 0 200px
	.mb_info

		h1
			font-size: 48px
			line-height: 48px
			font-weight: 700
			color: $black
		.descr
			font-size: 16px
			font-weight: 500
			color: darken($black, .5)
			margin: 24px 0

		.btns
			.btn
				padding: 12px 24px
				background: $accent
				color: $white
				text-decoration: none
				border-radius: 23px
				box-shadow: 0 3px 6px rgba(0, 0, 0, .6)
				&:hover
					background: #fff
					color: $black
				&.btn_white
					background: $white
					color: $accent
					margin-left: 16px
					&:hover
						background: $accent
						color: $white

#advantages
	padding-top: 112px
	padding-bottom: 120px
	.notif
		margin: 0 auto 24px
		max-width: max-content
	h2
		text-align: center
		font-size: 32px
		line-height: 40px
		font-weight: 700
		margin-bottom: 24px
		color: $title-color
	.text_content
		max-width: 672px
		color: $grey
		text-align: center
		margin: auto
		margin-bottom: 24px

	.item_adv
		.heading
			color: $title-color
			font-weight: 700
			text-align: center
			margin: 16px 0
		img
			display: block
			margin: auto

		.descr
			text-align: start
			max-width: 315px
			line-height: 24px
			font-size: 16px
			color: $grey
			margin: auto

#inf_1
	.notif > p
		color: $accent
	h3
		font-size: 32px
		margin: 24px 0
		line-height: 40px
	p
		font-size: 16px
		line-height: 24px
		color: $grey

#info_2
	padding-top: 100px
	padding-bottom: 22px
	.notif > p
		color: $accent
	h3
		font-size: 30px
		line-height: 40px
		margin-bottom: 24px
	p
		color: $grey
		line-height: 24px
		font-size: 16px

#reviews
	background-position: center
	background-size: cover
	background-image: url('../img/testimonial/background.svg')
	#rev1
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		.quotes
			font-size: 24px
			line-height: 32px
			font-weight: 500
			text-align: center
			max-width: 964px
			margin-bottom: 32px
			padding-top: 240px
			color: $title-color

		img
			margin-bottom: 32px

		>p
			color: $black
			font-size: 16px
			font-weight: 700
			text-align: center

	.nav_rev
		display: flex
		justify-content: space-around
		margin: auto
		align-items: center
		padding-top: 36px
		padding-bottom: 187px
		flex-wrap: wrap
		>div
			cursor: pointer
			width: 10%
			filter: grayscale(1)
			transition: all .4s ease
			&:hover, &.active
				filter: grayscale(0)
				transform: scale(1.1)

.position
	&::after
		display: block
		content: ''
		width: 964px
		z-index: 10
		height: 1px
		background-color: $border-color
		margin-top: 32px

.form
	padding-top: 180px
	h3
		width: 431px
		font-weight: 700
		font-size: 32px
		line-height: 40px
		margin-bottom: 35px
	p.trusted
		font-size: 16px
		color: $grey
		line-height: 24px
		font-weight: 500
		display: flex
		padding: 0 10px
		margin-bottom: 50px
		&::before
			content: ''
			display: block
			width: 150px
			height: 1px
			background: #D6D6D6
			margin-right: 10px
			margin-top: 12px
		&::after
			content: ''
			display: block
			width: 150px
			height: 1px
			background: #D6D6D6
			margin-left: 10px
			margin-top: 12px

	div img

		margin: 35px 55px 35px 25px

.auth
	background-color: #fff
	max-width: 428px
	display: flex
	flex-direction: column
	-webkit-box-shadow: 0px 18px 0px 24px rgba(249, 240, 255, 1)
	-moz-box-shadow: 0px 18px 0px 24px rgba(249, 240, 255, 1)
	box-shadow: 0px 18px 0px 24px rgba(249, 240, 255, 1)
	padding: 20px
	margin-bottom: 170px
	h2
		font-size: 24px
		line-height: 32px
		font-weight: 700
		margin-bottom: 16px
		text-align: center
		margin-top: 10px
	.start_free_trial
		padding: 12px 98px
		font-size: 16px
		line-height: 24px
		text-decoration: none
		background-color: $accent
		text-align: center
		color: $white
		border-radius: 8px
		margin-bottom: 10px
	form
		display: flex
		flex-direction: column
		input
			margin: 8px 0
			padding: 16px 20px
			border: 1px solid $silver
			border-radius: 8px
			&::placeholder
				color: $grey
				font-size: 16px
				line-height: 16px
	.or
		font-size: 16px
		line-height: 16px
		text-align: center
		text-transform: uppercase
		font-weight: 500
		color: $black
		text-shadow: 1px 1px 1px $black
		margin-top: 10px
	div
		margin: 0px auto
		cursor: pointer

	.line
		width: 336px
		height: 1px
		background-color: $grey

	.has_acc
		text-align: center
		color: $grey
		margin-top: 16px
		a
			text-decoration: none
			color: $accent

#footer
	padding-bottom: 24px
	padding-top: 58px
	background-color: $bg-footer
	.lorem_text
		margin-top: 14px

	.logo
		margin-bottom: 20px

	h3
		font-size: 15px
		margin-bottom: 20px

	.social_media
		margin-top: 24px
		a:nth-child(1)
			padding-left: 0
		a
			text-decoration: none
			padding-left: 10px
	.central_block
		display: flex
		>div
			margin: 0 25px

	ul
		list-style: none
		li > a
			text-decoration: none
			color: $title-color
	.newsletter
		position: relative
		.email_send
			padding: 12px 6px 16px 16px
			background-color: $white
			box-shadow: 0 1px 2px #59595999
			border: none
		.send_telegram
			position: absolute
			width: 20px
			height: 20px
			right: 8px
			top: 56px
			cursor: pointer
	.author_rights
		color: $title-color
		font-size: 16px
		font-weight: 700
		line-height: 16px
		img
			margin-left: 5px

	a:hover
		color: $accent

@media screen and ( max-width: 530px )
	.auth
		margin: auto

	.form_block
		margin: auto
